# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Scikit Learn
2. Tensorflow
3. Pandas

| Data Science Tools |
| ------------------ |
| Hadoop             |
| Apache Spark       |
| BigML              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335